div{
    background-color: lightsalmon;
    height: 300px;
    width: 300px;
    transition-duration: 5s;
    margin: 3px;
    margin: 0 auto;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    box-shadow: 3px 3px 10px black:
    
}
div:hover{
    background-color: gold;
    border-radius: 50%;
    margin-top: 300px;
}